<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>558056407860-uv29fpmegrmnai3dk0f2tsc1r14ic4tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558056407860-uv29fpmegrmnai3dk0f2tsc1r14ic4tk</string>
	<key>API_KEY</key>
	<string>AIzaSyBYKD8SqL3Q3yXejCjO3fwcME00Ltlpc90</string>
	<key>GCM_SENDER_ID</key>
	<string>558056407860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>arcu.razorbacktransit</string>
	<key>PROJECT_ID</key>
	<string>razorback-transi-1506458108408</string>
	<key>STORAGE_BUCKET</key>
	<string>razorback-transi-1506458108408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558056407860:ios:1cd9b5b4f1d8de83</string>
	<key>DATABASE_URL</key>
	<string>https://razorback-transi-1506458108408.firebaseio.com</string>
</dict>
</plist>