<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Razorback Transit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49798C2E1F68CEC8003C0CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49798C421F68CEC9003C0CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49798C4D1F68CEC9003C0CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
